* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  flex-direction: colun;
  justify-content: space-between;
  align-items: center;
  padding: 20px 70px;
  border-bottom: 1.7px dotted;
}

.logo {
  display: flex;
  flex-direction: column;
}

.dash {
  display: flex;
  gap: 24px;
  font-size: 18px;
  font-weight: 550;
}

.grey {
  color: grey;
}

.hero {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 20px 30px;
  gap: 8px;
}

.hero p, 
h1 {
  color: white;
}

.hero-left {
  display: flex;
  flex-direction: row;
  background: linear-gradient(#0000005f, #0000005f),
    url(./left-banner-image.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 20px 30px;
  width: 600px;
  height: 420px;
}

.hero-left div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 100px 50px;
  gap: 32px;
}

.hero-left h1 {
  color: #ffff;
  width: 450px;
  font-size: 42px;
}

.hero-left p {
  color: #ffff;
  font-size: 22px;
  font-style: italic;
}

.hero-left button {
  padding: 10px 30px;
}

.btn-1 {
  /* background-color: black; */
  /* color: white; */
  border: 1px solid #fff;
}

.hero-right {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-wrap: wrap;
  padding: 5px 30px;
  justify-content: center;
  align-items: center;
  gap: 14px;
  height: 100px;
}

.hero-right div {
  display: flex;
  gap: 10px;
  width: 280px;
  display: flex;
  padding: 50px 50px;
}

.hero-right p {
  font-style: italic;
  font-size: 18px;
}

.women {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000005f, #0000005f),
    url(./baner-right-image-01.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  gap: 24px;
  /* border-radius: 1px;
  border: 1px solid blue; */
  padding: 100px 100px;
  width: 200px;
  height: 200px;
}

/* .women h1,
p {
  display: flex;
  padding: 100px 50px;
} */

.men {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000005f, #0000005f),
    url(./baner-right-image-02.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 24px;
  padding: 100px 100px;
  width: 200px;
  height: 200px;
}

.kids {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000005f, #0000005f),
    url(./baner-right-image-03.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  gap: 24px;
  /* border-radius: 1px;
  border: 1px solid blue; */
  padding: 100px 100px;
  width: 200px;
  height: 200px;
}

.accessories {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#0000005f, #0000005f),
    url(./baner-right-image-04.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  /* background-size: 10vw 10vh; */
  gap: 24px;
  /* border-radius: 1px;
  border: 1px solid blue; */
  padding: 100px 100px;
  width: 200px;
  height: 200px;
}

.mens-overview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  padding: 100px 50px;
  gap: 8px;
  border-top: 1.7px dotted;
}

.mens-overview h1 {
  color: #2a2a2a;
}

.mens-overview p {
  color: #a1a1a1;
  font-style: italic;
}

.men-img {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 24px;
  padding: 10px 50px;
  /* width: 250px; */
}

.mens-img h1{
  font-size: 24px;
  font-weight: 600;
}

.mens-img div {
  display: flex;
  flex-direction: colum;
  justify-content: space-between;
}

.mens-jpg {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.mens-img h1 {
  color: #2a2a2a;
}

.mens-img p {
  color: #a1a1a1;
}

.womens-overview {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  gap: 8px;
}

.womens-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  gap: 24px;
}

.womens-img img {
  /* width: 120px; */
}

.womens-overview h1 {
  color: #2a2a2a;
}

.womens-overview p {
  color: #a1a1a1;
  font-style: italic;
}

.kids-img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 50px;
  gap: 24px;
}

.kids-overview {
  display: flex;
  flex-direction: column;
  padding: 100px 50px;
  gap: 8px;
}

.kids-overview h1 {
  color: #2a2a2a;
}

.kids-overview p {
  color: #a1a1a1;
  font-style: italic;
}

.explore {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 100px 70px;
  gap: 42px;
  border-top: 1.7px dotted grey;
}

.explore-right {
  display: flex;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
  flex-wrap: wrap;
}

.explore-right div {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  width: 250px;
  gap: 10px;
  /* border: 1px solid blue; */
  background-color: #f8f8f8;
}

.explore-right img {
  width: 250px;
}

.explore-right h1 {
  color: #2a2a2a;
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  width: 250px;
}

.explore-right p {
  color: #aaaaaa;
  font-style: italic;
}

.explore-h1 {
  display: flex;
  padding: 100px 50px;
}

.explore-left {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.explore-left h1 {
  color: #2a2a2a;
  font-size: 38px;
  font-weight: 600;
}

.explore-left p {
  color: #aaaaaa;
  width: 460px;
  font-weight: 500;
  font-size: 16px;
}

.explore-left p1 {
  display: flex;
  /* flex-direction: column; */
  color: #2a2a2a;
  font-style: italic;
  font-size: 16px;
  width: 450px;
  font-weight: 600;
}

.coma {
  width: 60px;
}

.support-us {
  color: blue;
}

.explore-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  padding: 10px 30px;
  color: #212529;
  /* font-size: 14px; */
  /* text-align: left; */
  padding: 10px 10px;
}

.social {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 100px 100px;
  gap: 24px;
  border-top: 1.7px dotted grey;
}

.social h1 {
  color: #2a2a2a;
}

.social-img {
  display: flex;
}

.social img {
  width: 180px;
}

.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: start;
  padding: 100px 100px;
  gap: 52px;
  border-top: 1.7px dotted #212529;
}

.newsletter h1 {
  color: #2a2a2a;
}

.newsletter p {
  color: #a1a1a1;
}

.news-left {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.news-left h1 {
  font-size: 38px;
  width: 650px;
}

.input {
  display: flex;
  gap: 22px;
}

.input input {
  display: flex;
  padding: 12px 100px;
  padding-left: 15px;
}

.news-right {
  display: grid;
  grid-template-columns: 2fr 2fr;
  gap: 22px;
}

.news-right h1 {
  font-size: 18px;
}

.news-right p {
  font-size: 16px;
  width: 150px;
}

.news-right div {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.bottom {
  display: flex;
  background-color: #2a2a2a;
  justify-content: space-between;
  align-items: center;
  gap: 22px;
  padding: 50px 50px;
  color: #fff;
}

.bottom div {
  display: flex; 
  flex-direction: column;
  gap: 24px;
}

/* .bottom-div {
  /* display: flex; */
  flex-direction: column;
  border-bottom: 1px solid #fff;
} */

.bottom img {
  width: 200px;
}

.bottom h1 {
  font-size: 16px;
}

.bottom p {
  font-size: 14px;
  width: 290px;
}

.last-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: #2a2a2a;
}

.last-line img {
  /* display: flex; */
  /* flex-direction: column; */
  width: 20px;
}

.last-line div{
  display: flex;
  gap: 20px;
}

.last-line p {
  color: #ffff;
}
